#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root > div > h2 {
  text-shadow: 2px 2px black;
  color:pink;
  font-size:50px;
  margin-bottom:1rem;
}

#root > div > ul {
  border:solid 2px black;
  list-style-type: none;
}